##
# Configure your Git and GitHub account details, and be sure to fork the repo
# from https://github.com/WikiEducationFoundation/WikiEduDashboard
#
#git::configs:
#  user.name:
#    value: 'Your Name'
#  user.email:
#    value: 'your@email.example'
#
#github::username: yourusername
#wikiedu::dashboard::source: https://github.com/%{::github::username}/WikiEduDashboard.git
